@mixin flexbox ($flexd: column) {
  display: flex;
  flex-direction: $flexd;
  background-color: rgb(174, 174, 174);
}

@mixin centerFromSize($width, $height) {
  width: $width;
  height: $height;
  margin-left: $heg;
}
@mixin borderStyle() {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(199, 199, 199);
}
