@import "./modules/box";
@import "./modules/locations";

.calc_container {
  position: relative;
  margin-left: -50em;
  left: 50vw;

  @include flexbox;
  @include sizeAndCenter(340px,300px);
}

.calc-buttons {
  @include flexbox(row);

  width: 100%;
  height: 250px;
}

.result {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: right;
}

.result p {
  margin-top: 14px;
  margin-right: 10px;
  font-size: 20px;
}

.left-btn-container {
  width: 75%;
  height: 250px;
}

.right-btns-container {
  @include flexbox;

  width: 25%;
  height: 250px;
}

.left-btn {
  @include floatAndSize(33.333%,50px);
}

.left-btn-cero {
  @include floatAndSize(66.666%,50px);
}

.right-btn {
  @include floatAndSize(100%,50px);
}
